<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <configBuilders>
    <builders>
    <add name="Secrets" userSecretsId="da33987e-15d6-407a-b2f6-1976a7e911fb" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=1.0.0.0, Culture=neutral" /></builders>
  </configBuilders>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings configBuilders="Secrets">
    <add key="TfsRootUrl" value="[REDACTED]" />
    <add key="RootLogFolder" value="[REDACTED]" />
    <add key="ConfigDBConnectionString" value="[REDACTED]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="InteractiveLogOut" value="Debug" />    
  </appSettings> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins" />
    </assemblyBinding>
  </runtime>
</configuration>
